<html>
 <body>
<ion-view view-title="Lokal Offers" align-title="center">
  <ion-header-bar>  
<head>
<script type="text/javascript" src="js/countries.js"></script>


</head>
  </ion-header-bar>
  <ion-content >
	<button class="button button-clear button-positive" ng-click="register()" style="float: right;" ng-hide="isLogin" type="submit">
  Register Merchant
</button>
	<br><br><br>
		<form >
  <div class="list">
 
			 <label class="item item-input">
          <span class="input-label">UserId</span>
          <input type="text" id="ouserid" value="{{loginData.username}}" ng-model="addOffer.userid">
        </label>
		<label class="item item-input">
          <span class="input-label">Shop Area</span>
	Select Country (with states):
        <select id="country" name="country"><option  >{{country}}</option>
		</select>
        <br />State:
        <select name="state" id="state"></select>
        <br/>
     
        <br />
       <script language="javascript">
			populateCountries("country", "state");
			populateCountries("country2");
		</script>

 </label>
 
	 <label class="item item-input">
          <span class="input-label">Shop Name</span>
          <input type="text" id="oshopname" ng-model="addOffer.shopname"  >
        </label>
   <label class="item item-input">
          <span class="input-label">Category</span>
          <input type="text" id="oshopcat" ng-model="addOffer.shopcat" >
        </label>
		 <label class="item item-input">
          <span class="input-label">Upload Offer Image</span>
		 <button class="button button-icon icon ion-ios-folder" ng-model="addOffer.offerimage" ng-click="browse($event)" class="button button-block button-primary"> Browse/Camera</button>
 </label>
  <label class="item">
          <img ng-src="{{lastPhoto}}" style="max-width: 100%"> 
        </label>
		 <label class="item item-input">
          <span class="input-label">Offer Details</span>
          <input type="text" id="oofferdetails"  ng-model="addOffer.offerdetails">
        </label>
		 <label class="item item-input">
          <span class="input-label">Offer StartDate & Time</span>
		  <input type="date"   ng-model="addOffer.offerstartdate" ><br>
		  <input type="time"  placeholder="12:00:AM" ng-model="addOffer.offerstarttime" >
          
        </label>
		<label class="item item-input">
          <span class="input-label">Offer EndDate & Time</span>
		  <input type="date"   ng-model="addOffer.offerenddate" ><br>
		  <input type="time"  placeholder="12:00:AM" ng-model="addOffer.offerendtime" >
          
        </label>
	
		<label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="email" ng-model="addOffer.email">
        </label>
		<label class="item item-input">
          <span class="input-label">Contact No.</span>
          <input type="tel" ng-model="addOffer.contact1"  >
        </label>
		<label class="item item-input">
          <span class="input-label">Alternate No.</span>
          <input type="tel" 	ng-model="addOffer.contact2">
        </label>
		
       <label class="item item-input">
          <button class="button button-block button-positive" ng-click="addoffer_new($event,addOffer)" type="submit">Add Offer</button>
		</label>
  
	
   </div>
   <br><br><br>
   
   </form>
   <!--
  
   <div >
   <button class="button button-icon icon ion-ios-camera" ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
   </div>
<div>
<button class="button button-icon icon ion-ios-folder" ng-click="browse($event)" class="button button-block button-primary">Browse folder</button>
  
</div>
<div>
<button class="button button-icon icon ion-email" ng-click="sendsms($event)" class="button button-block button-primary">Send Sms</button>
   <button class="button button-icon icon ion-ios-folder" ng-click="upload2($event)" class="button button-block button-primary">Open Gallery</button>
</div>
   <div>
     <img ng-src="{{lastPhoto}}" style="max-width: 100%"> 
   </div>
   <br><br><br>
   
   
   <br><br><br>
   
	<div>Select Area</div>
	
      <map on-create="mapCreated(map)"  ></map>
   <div>
      <button ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Show My Location</button>
	  </div>
	 <br> <br> <br> -->
	  </ion-content>
	 
	<div class="bar bar-footer bar-positive">
  <button class="button button-clear"></button>
  <div  class="button button-clear"style="font-size:60%">(R)Copy Rights Reserved @2015</div>
  <button  class="button button-clear"style="font-size:75%" >Developed by Devi Android Apps</button>
</div>

</ion-view>
 
  </body>
</html>
