<ion-view>
  <ion-header-bar>
    
  </ion-header-bar>
   <ion-content >
	<form ng-click="register()">
	<button class="button button-clear button-positive" style="float: right;" ng-hide="isLogin" type="submit">
  Register Merchant
</button>
	
	</form>
	<br><br><br>
	 <form ng-submit="addoffer_new($event,addOffer)">
  <div class="list">
 
			 <label class="item item-input">
          <span class="input-label">UserId</span>
          <input type="text" id="ouserid" value="{{loginData.username}}" ng-model="addOffer.userid">
        </label>
		<label class="item item-input item-select">
     <span class="input-label">Shop Area</span>
    <select ng-model="addOffer.area">
      <option>Visakhapatnam</option>
      <option selected>NAD</option>
      <option>Pendurthy</option>
    </select>
  </label>	 
		 <label class="item item-input">
          <span class="input-label">Shop Name</span>
          <input type="text" id="oshopname" ng-model="addOffer.shopname"  >
        </label>
   <label class="item item-input">
          <span class="input-label">Category</span>
          <input type="text" id="oshopcat" ng-model="addOffer.shopcat" >
        </label>
		 <label class="item item-input">
          <span class="input-label">Upload Offer Image</span>
          <input type="text" id="oimage"   ng-model="addOffer.image">
        </label>
		 <label class="item item-input">
          <span class="input-label">Offer Details</span>
          <input type="text" id="oofferdetails"  ng-model="addOffer.offerdetails">
        </label>
		 <label class="item item-input">
          <span class="input-label">Offer Period</span>
          <input type="text" id="oofferperiod" ng-model="addOffer.offerperiod">
        </label>
		<label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="text" id="oemail" ng-model="addOffer.email">
        </label>
		<label class="item item-input">
          <span class="input-label">Contact No.</span>
          <input type="text" id="ocontact1" ng-model="addOffer.contact1"  >
        </label>
		<label class="item item-input">
          <span class="input-label">Alternate No.</span>
          <input type="text" id="ocontact2" 	ng-model="addOffer.contact2">
        </label>
       <label class="item item-input">
          <button class="button button-block button-positive" type="submit">Add Offer</button>
		</label>
  
   </div>
   </form>
	<div>Select Area</div>
	<!--
      <map on-create="mapCreated(map)"  ></map>
   <div>
      <button ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Show My Location</button>
	  </div>
	 <br> <br> <br> -->
	  </ion-content>
	<div class="bar bar-footer bar-positive">
  <button class="button button-clear"></button>
  <div  class="button button-clear"style="font-size:60%">(R)Copy Rights Reserved @2015</div>
  <button  class="button button-clear"style="font-size:75%" >Developed by Devi Android Apps</button>
</div>
</ion-view>
